@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hide scrollbar for Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* Dropdown animations */
@keyframes scaleExpandDiagonal {
  from {
    opacity: 0;
    transform: scale(0) translateX(20px) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(0) translateY(0);
  }
}

@keyframes slideUpIn {
  from {
    opacity: 0;
    transform: rotateX(90deg) translate3d(-10px, 40px, 0);
    transition: transform .65s cubic-bezier(.215, .61, .355, 1), opacity .35s linear;
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) translate3d(0, 0px, 0);
    transition: transform .65s cubic-bezier(.215, .61, .355, 1), opacity .35s linear;
  }
}

.animate-slide-up {
  animation: slideUpIn 0.35s ease-out forwards;
  opacity: 0;
}

.menu-item-0 { animation-delay: 0.35s; }
.menu-item-1 { animation-delay: 0.5s; }
.menu-item-2 { animation-delay: 0.65s; }
.menu-item-3 { animation-delay: 0.8s; }
.menu-item-4 { animation-delay: 0.95s; }